*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
  text-transform: uppercase;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  height: 534px;
}

.result {
  width: 711px;
  flex-shrink: 0;
  transform: translateY(-6px);
}

.result__video {
  width: 100%;
  object-fit: cover;
  display: block;
}

.result__video-container {
  width: 100%;
  height: 386px; 
  margin-bottom: 16px; 
  overflow: hidden; 
  position: relative;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-weight: 700;
  font-size: 75px;    
  line-height: 94%;      
  color: rgba(255, 255, 255, 1);
}

.content__accent {
  color: rgba(84, 80, 80, 1);       
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  inline-size: 100%;
  text-transform: none;
}

.search-form__fieldset-title {
  font-weight: 400;  
  font-size: 18px;       
  line-height: 100%;     
  margin-bottom: 5px;     
  color: rgba(255, 255, 255, 1);        
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  inline-size: 100%;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

/* темплейты */
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 30px; 
}

.content__video-card-thumbnail {
  height: 103px; 
  min-width: 194px; 
  object-fit: cover;
  object-position: center;
  flex-shrink: 0; 
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__card-link {
  text-decoration: none;  
  color: rgba(255, 255, 255, 1); 
  display: block;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1); 
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  display: -webkit-box;  
  -webkit-line-clamp: 1;     
  -webkit-box-orient: vertical;
  overflow: hidden;            
  text-overflow: ellipsis;      
  word-break: break-word;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;          
  color: rgba(255, 255, 255, 1);
  display: block;            
  white-space: nowrap;         
  overflow: hidden;           
  text-overflow: clip; 
  text-transform: none;
}

/* инпут, чекбоксы*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;  
  gap: 15px;    
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px; 
}

.search-form__textfield {     
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff; 
  background-color: transparent; 
  appearance: none;              
  font-size: 18px;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 2px solid white;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;               
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;                
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;               
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* кнопки */
.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 390px;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* шрифты */
body, .page, p, label, input, .content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.title,
.content__video-card-title,
.button {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
